
@{
Layout = "_Homes";
}

<div class="content-wrapper">
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">
							<i class="fa fa-reply-all"></i>
							<b> Permission Setting</b>
						</h3>
						<button type="submit" class="btn btn-sm btn-success pull-right" style="margin-left: 5px">Apply</button>
					</div>
					<!-- form start -->
					<div class="row">
						<div class="col-md-5">
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>User Group</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Administrator</td>
									</tr>
									<tr>
										<td>Invoice Entry</td>
									</tr>
									<tr>
										<td>Project</td>
									</tr>
									<tr>
										<td>BOI</td>
									</tr>
									<tr>
										<td>Store</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-7">
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th></th>
										<th>Menu List</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<td class="text-center" style="width: 40px"><input type="checkbox"></td>
										<td>Invoice List</td>
									</tr>
									<tr>
										<td class="text-center" style="width: 40px"><input type="checkbox"></td>
										<td>Dash Board Over All</td>
									</tr>
									<tr>
										<td class="text-center" style="width: 40px"><input type="checkbox"></td>
										<td>Project</td>
									</tr>
									<tr>
										<td class="text-center" style="width: 40px"><input type="checkbox"></td>
										<td>Project List</td>
									</tr>
									<tr>
										<td class="text-center" style="width: 40px"><input type="checkbox"></td>
										<td>Projet Control</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


