
@{
	Layout = "_Homes";
}

<div class="content-wrapper">

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-folder-open-o"></i><b> Invoice List</b></h3>
						<button type="submit" class="btn btn-sm btn-default pull-right">Export</button>
					</div>
					<!-- form start -->
					<div class="box-body">
						<table id="example1" class="table table-bordered table-striped table-hover">
							<thead class="p-3 mb-2 bg-info text-white">
								<tr>
									<th>HAWB Number</th>
									<th>Invoice Number</th>
									<th>Invoice Date</th>
									<th>Shipper</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>HAWB00000001</td>
									<td>2017-MTH-09-G178</td>
									<td>2017-07-21</td>
									<td>TEXAS</td>
									<td>New Item</td>
								</tr>
							</tbody>
							<tfoot class="p-3 mb-2 bg-info text-white">
								<tr>
									<th>HAWB Number</th>
									<th>Invoice Number</th>
									<th>Invoice Date</th>
									<th>Shipper</th>
									<th>Status</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>


