
@{
	Layout = "_Homes";
}

<div class="content-wrapper">
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">
							<i class="fa fa-reply-all"></i>
							<b> BOI Approval</b>
						</h3>
						<button type="submit" class="btn btn-sm btn-default pull-right">Search</button>
						<div class="col-md-3 pull-right">
							<input [(ngModel)]="invoiceinfo.invoiceno" required name="invoiceno" type="text" class="form-control-sm pull-right" id="invoiceno"
								   placeholder="DOC NO">
						</div>
					</div>
					<!-- form start -->
					<div class="box-body">
						<div class="box-info with-border">
							<table id="tbl1" class="table table-bordered table-hover">
								<thead class="p-3 mb-2 bg-info text-white text-center">
									<tr>
										<th>Clearing No</th>
										<th>Create Date</th>
										<th>Invoice No</th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="width: 100px;text-align: center">00022937</td>
										<td style="width: 100px;text-align: center">08/21/2017</td>
										<td>2017-MTH-09-G178, 2017-MTH-09-G181, 2017-MTH-09-G182</td>
										<td class="text-center" style="width: 60px;text-align: center">
											<button class="btn btn-link font-weight-light" style="padding: 0pt" data-toggle="modal" data-target="#exampleModal" aria-expanded="true"
													aria-controls="collapseOne">
												Upload
											</button>
										</td>
										<td class="text-center" style="width: 60px;text-align: center">
											<button class="btn btn-link font-weight-danger" style="padding: 0pt">View</button>
										</td>
										<td class="text-center" style="width: 60px;text-align: center">
											<button class="btn btn-link font-weight-danger" style="padding: 0pt">Save</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box-info with-border">
							<table id="tbl2" class="table table-bordered table-hover">
								<thead class="p-3 mb-2 bg-info text-white text-center">
									<tr>
										<th>No</th>
										<th>XML Type</th>
										<th>Document No</th>
										<th>Date</th>
										<th>Total Item</th>
										<th>Declare Line No</th>
										<th>Registration ID</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Upload BOI Approval EXCEL File</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="input-group">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile04">
							<label class="custom-file-label" for="inputGroupFile04">Choose file</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Import</button>
				</div>
			</div>
		</div>
	</div>

</div>


